.App {
  text-align: center;
}

/*background-color: #282c34;*/
.App-content {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
  color: white;
}

button {
  font-size: 45px;
}

a {
  color: #09f;
  font-size: 32px;
}

.App-logo {
  height: 300px;
  width: 300px;
}

.App-title {
  color: var(--black);
}

.App-title span {
  color: var(--giffy);
}

.App-category {
  color: var(--giffy);
  margin-bottom: 25px;
  width: 100%;
}

.App-error {
  color: var(--black);
}
